
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    
    
    background-color:#10002B;
    height:auto;
    padding: 30px 50px;
    
}

nav{ 
    display: flex;
    
    justify-self:center;
    align-items: center;
        justify-content: space-between;
}
.logo{
    
    display: flex;
    align-items: center;
    gap:10px;
}
.logo img{
    width:60px;
}

.logo p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    
    color:#F5EFFF;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color:#F5EFFF;
    padding: 0.5vw;
}
nav ul li :hover{
    
    background-color: #5A189A;
    
    border-radius: 12px;
    

}
nav ul li a:hover{
    color: rgb(182, 182, 182);
    
}
.intro{
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left{
    display: flex;
    
    flex:1;
    

}
.left h3{
    color: #ff00f2;
    font-family: "Bitcount Grid Double", system-ui;
    font-size:30px; 
    
}
.left h1{
    
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#9D4EDD;
    
    text-align: left;
}
.left p{
    color: #F5EFFF;
}
.left ul{
    display: flex;
    align-items: center;
    
    margin:2vh 2vw 0 0 ;
}
.left ul li{
    
    list-style: none;
    margin-right: 10px;
    
}
.left  ul li a{
    text-decoration: none;
    color: #F5EFFF;
    text-align: center;
    font-weight: bold;
}
.cv{
    padding:  8px 5px 5px 20px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #5A189A;
    
    
}
.cv:hover{
    background-color: #9D4EDD;
}

.right{
    display: flex;
    flex:1;
    justify-content: flex-end;


}

.right img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid  #9D4EDD;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.services{
    padding: 60px 0;
    
}

.service_head{
    text-align: center;
margin-bottom: 25px;
}
.service_head h1{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9D4EDD;
}

.service_head p{
    color: #F5EFFF;
}



.ser-1{
    margin-bottom: 10px;
    display: flex;
    background-color: #5A189A;
    align-items: center;
    padding: 5px ;
    
border-radius: 9px;
    
}
.ser-1 h3 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#E0AAFF;
    padding-left:5px ;
}


.ser-1 p{
    padding-left: 10px;
    font-weight:bold ;
    font-size: medium;
    color: #E0AAFF;
}



.my-info{
    padding: 60px 0;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.exp h2{
    text-align: center;
    color: #9D4EDD;
    margin-bottom: 4vh;
    font-weight: 30px;
}
.exp1{
    margin-bottom: 10px;
padding:10px 75px 10px 5px ;

background-color:#5A189A;
border-radius: 12px;
}
.exp1 h4{
    font-size: small;
    color: #E0AAFF;
    font-weight: bold;
}
.exp1 p{
    font-size: smaller;
    margin-top: 2.5px;
    color: #E0AAFF;
    text-align: justify;
    font-weight: bold;
}
.exp1 h3{
    text-align: justify;
    color: #be6ffe;
}







.edu h2{
    text-align: center;
    color: #9D4EDD;
    margin-bottom: 4vh;
    font-weight: 30px;
}
.edu1{
    margin-bottom: 10px;
padding:10px 75px 10px 5px ;

background-color:#5A189A;
border-radius: 12px;
}
.edu1 h4{
    font-size: small;
    color: #E0AAFF;
    font-weight: bold;
}
.edu1 p{
    font-size: smaller;
    margin-top: 2.5px;
    color: #E0AAFF;
    text-align: justify;
    font-weight: bold;
}
.edu1 h3{
    text-align: justify;
    color: #be6ffe;
}




@media (max-width: 768px) {
    .services{
    margin-top: 5vh;
    
}
body{
    padding: 10px;
}

    .desktop-only {
        display: none !important;
    }

    
    nav {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px 18px;
    }

    
    .intro {
        margin-top: 5vh;
        flex-direction: column-reverse;
        text-align: center;
        padding: 30px 0;
    }
    .left h1{
        text-align: center;
    }
    .left p{
        text-align: center;
    }
    .intro .right {
    margin-top: 2vh;
        justify-content: center;
    }
    .intro .right img {
        width: 240px;
        height: 240px;
    }
    .intro .left h1 {
        font-size: 32px;
    }
    .intro .left ul {
        justify-content: center;
        
    }

    
    .my-info {
        margin-top: 25px;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }


    .ser-1{
        flex-direction: column;
        text-align: center;
    }
    .edu{
        margin:2vw ;
    }
    .exp{
        margin:2vw ;
    }
}